html{
    font-family: 'Glass Antiqua', cursive;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
  
    background-image: url('abstract-background-design-images-wallpaper-ai-generated_643360-188680.avif');
    background-position: center center;
}
